
.dark-blue {
  color: #000080; /* dark blue */
}

#left-header {
  text-align: left;
  float: left;
}

#right-header {
  text-align: right;
  float: right;
}

#center-header {
  font-family: Verdana;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#text-body {
  font-family: Georgia;
}

.cursive-heading {
  color: #CF1B1B; /* red */
  font-family: "Great Vibes", cursive;
  font-size: 65px;
  line-height: 60px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 1px #FFFFFF;
}

.cursive {
  color: #000000;
  font-family: "Great Vibes", cursive;
  text-shadow: 0 1px 1px #FFFFFF;
  text-decoration: underline;
}

.survey-body {
  color: #333333;
  font-family: 'Original Surfer';
  font-size: 16px;
  line-height: 28px; margin: 0 0 24px;
}


/* http://www.w3schools.com/css/css_navbar.asp */
ul {
    list-style-type: none;
    padding: 0;
    background-color: #000000; /* black */
}

li a, .dropbtn {
    display: inline-block;
    color: #FFFFFF; /* white */
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #000080; /* dark blue */
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF; /* white */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #000000; /* black */
    padding: 12px;
    text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #EBEDEF; /* grey */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
  color: #000080; /* dark blue */
  font-weight: bold;
  border: 1px solid #000080; /* dark blue */
}

.button:hover {
  color: #FFFFFF; /* white */
  background: #353585; /* light blue */
  cursor: pointer;
}
